pandas
numpy
scikit-learn
xgboost
shap
matplotlib
joblib
streamlit
PyYAML


# Para la capa RAG (los agregaremos cuando lleguemos a esa etapa)
	# sentence-transformers
	# qdrant-client
	# openai
	# tiktoken
